{% extends 'base.html.twig' %}
{% block body %}
        {% include 'home/component/_nav.html.twig' %}
    <div class="d-flex justify-content-center p-3">
        <div class="editor-container">
    <h1 class="simple-police dark-text ">Edit Episode</h1>

    {{ include('episode/_form.html.twig', {'button_label': 'Update'}) }}
    
</div>
</div>
{% endblock %}
