{% extends 'base.html.twig' %}
{% block body %}
        {% include 'home/component/_nav.html.twig' %}
<div class="d-flex justify-content-center p-3">
    <div class="editor-container">

    <h1 class="simple-police dark-text "> Create new Episode</h1>
    <button class="login-button blue-button m-3"> <a href="{{ path('season_new') }}"> Add new season </a> </button>
    {{ include('episode/_form.html.twig') }}
    </div>
</div>
{% endblock %}
