{% extends 'base.html.twig' %}

{% block body %}
    {% include 'home/component/_nav.html.twig' %}

<div class="about-me-bg"></div>

<div class="login-text">
    <h1>Create new Season</h1>
    {{ include('season/_form.html.twig') }}
    <a class="login-button m-3" href="{{ path('episode_new') }}">Episode editor</a>
</div>
{% endblock %}
