{% extends 'base.html.twig' %}

{% block body %}
    {% include 'home/component/_nav.html.twig' %}



    <div class="d-flex flex-column align-items-center">
    <h1 class="actors-title simple-police m-5 p-5">

        Actors:

    </h1>
      




        <div class="funfact-box">
<ul class="actors-list-two pt-3">

    {% for actor in actors %}

        
    <li class="simple-police m-3"><a href="{{ path('show_fun_fact', {'funfactname': actor.name}) }}">{{ actor.name }} </a></li>
{% endfor %}
</ul>



                <ul class="actors-list-one pt-3">

                    {% for actor in actors %}
                        <li class="simple-police m-3"><a href="{{ path('show_fun_fact', {'funfactname': actor.name}) }}">{{ actor.name }} </a> </li>
                    {% endfor %}
                </ul>

        </div>



    </div>



{% endblock %}