{% extends 'base.html.twig' %}

{% block body %}
    {% include 'home/component/_nav.html.twig' %}

    <div class="about-me-bg"></div>

    <div class="fact-box">

    <div class="container d-flex flex-column align-items-center funfact-container">
    <h1> <i class="far fa-lightbulb"></i>  Did you know ?<a class="random-button" href="{{ path('fun_fact') }}"> RandomFact </a> </h1>
        <img class="small-image fact-photo" src="{{ random_fact.image }}" alt="">
<ul>
    {% for actor in actors %}
    <li>{{ actor.name }}</li>
{% endfor %}



</ul>
    </div>
    </div>
{% endblock %}