    {% for season in seasons %}
      <div>
          <a href="{{ path('season_show', {'slug': season.slug}) }}">Season {{season.number }}. :
            {{season.title }}
          </a>
      </div>
    {% endfor %}