<div class="season-navigation season-navigation-large">
{% for seas in seasons %}
      <div class="season-navigation-items{% if season.id == seas.id%} active active-left {% endif %}">
          <div>
          <a class="nav-link handwriting light-text" href="{{ path('season_show', {'slug': seas.slug}) }}">Season {{seas.number }}. :
            {{seas.title }}
          </a>
          </div>
      </div>
    {% endfor %}


    {% if is_granted('ROLE_ADMIN') %}
    <div class="season-navigation-items">
        <div>
            <a class="nav-link handwriting light-text" href="{{ path('season_new')}}"><i class="fas fa-plus"></i> Add New Season
            </a>
        </div>
    </div>
    {% endif %}


</div>


