{% extends 'base.html.twig' %}

{% block body %}
    {% include 'home/component/_nav.html.twig' %}
   <div class="introduction-container">

    <div class="use-shadow introduction">
        <img class="introduction-logo" src="{{ asset('build/images/logo/logo_orange.png') }}" alt="">
<h5 class="handwriting">A hot frothy coffee? <i class="fas fa-mug-hot"></i> <br> A fresh crispy croissant? <i class="fas fa-cookie-bite"></i> <br> An English breakfast with bacon and eggs? <i class="fas fa-bacon"></i><i class="fas fa-egg"></i> <br> How do you start the day? <i class="far fa-clock"></i></h5>
        <p>My favorite meal is the breakfast, especially when you can allow yourself to enjoy it and
            kick off the day in this way. And come on, breakfasts can be truly various, creative, seasonal, and tasty at
            the same time. Therefore, I started collecting my recipes and sharing them in the social media
            <i class="fab fa-instagram white-pic"></i> <i class="white-pic fab fa-facebook-square white-pic"></i> .</p>

        <p> <i class="far fa-lightbulb"></i> Where it got started? When I was a university student <i class="fas fa-graduation-cap"></i> and studied for my exams <i class="fas fa-book-reader"></i>, I always had the tv on. <i class="fas fa-tv"></i>
            Not because I wanted to distract my attention on purpose but because in this way, I could make myself
            believe that it was not all about studying (boring...) but also letting some fun in. <i class="far fa-hand-peace"></i> This fun were the
            cooking and baking shows which became my passion straight away.</p>
        <p><i class="far fa-hand-point-right"></i> I have always known that one day I would like to start a business <i class="fas fa-suitcase"></i> where I can be in touch with people <i class="fas fa-users"></i>,
            use my creative side and skills and basically represent myself.
            I hope that you will enjoy preparing my recipes as much as I do, and moreover believe that one day I
            can also welcome and serve you at my own place in Budapest. <i class="fas fa-heart"></i></p>
    </div>
   </div>
{% endblock %}