.actors-list-one {
  animation: moveSlideshowOne 100s linear infinite;
  list-style: none;
  & a {
    font-style: italic;
    font-size: 1.4em;
    color: white !important;
    letter-spacing: .2rem;
  }

}
@keyframes moveSlideshowOne {
  100% {
    transform: translateY(-200%);
  }
}

.actors-list-two {
  animation: moveSlideshowTwo 100s linear infinite;
  list-style: none;
  & a {
    font-style: italic;
    font-size: 1.4em;
    color: white !important;
    letter-spacing: .2rem;
  }

}
.actors-title{
  font-size: 1.4em !important;
  color: $dark-brown;
}
@keyframes moveSlideshowTwo {
  50% {
    transform: translateY(-100%);
  }
  50.01%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0%);
  }
}

.funfact-box {
  height:882px;
  overflow: hidden;

}


@media (min-width: 510px) {
.fact-photo {
  width: 500px;
  height: auto;
} }


@media (max-width: 509px) {
  .fact-photo {
    width: 350px;
    height: auto;
  }
}

    .fact-title {
  animation: fastmove 15s infinite;
}

@keyframes fastmove {
  2%   { transform: rotate(8deg)
  }
  4%   {transform: rotate(-8deg)}
  6%   { transform: rotate(8deg)}
  7%   {transform: rotate(0deg)}

  100%   {transform: rotate(0deg) }

}