.handwriting{
    font-family: 'Pacifico', cursive;
}

.simple-police {
    font-family: 'Roboto', sans-serif;
}

.dark-text{
    color: $dark-brown;
}

.light-text{
    color: $light-brown;
}


.large-text{
    font-size: 18px;
}

.small-text {
    font-size: 12px;
}

.use-shadow {
    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.25);
}


.image-shadow {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}


.large-image {
    width: 400px;
    height: 400px;
    object-fit: cover;

}

.small-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.mini-image {
    width:180px;
    height: 180px;
    object-fit: cover;
}


.wide-container-wrapper{
    display: flex;
    justify-content: center;
}

.wide-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
}


.narrow-container{
    margin: 20px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
}


.wrapper {
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png"), linear-gradient(to top, $yellow,$orange);
    min-height: 100%;
    margin-bottom: -50px;
}
.footer,
.push {
    height: 50px;
}

.footer {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.blue-button {
    margin: 20px;
    font-family: 'Pacifico', cursive;
    height: 40px;
    width: auto;
    background-color: $dark-blue;
    color:white;
    border:none;
    font-size: 1em;
    border-radius: 5px;
    &:hover {
        background-color: $darker-blue;
        transition: 2s;
    }
    & a {
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: none;
            color: white;
        }
    }
}

label {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: $light-brown;
}

#registration_form_plainPassword, .login-input, #registration_form_username {
    width: 100%;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
}


.register-form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.heart-color {
    color: #ff0084;
}