.handwriting{
    font-family: 'Pacifico', cursive;
}

.dark-text{
    color: $dark-brown;
}

.light-text{
    color: $light-brown;
}

.large-text{
   font-size: 36px;
}

.medium-text{
    font-size: 24px;
}

.small-text {
    font-size: 18px;
}


.use-shadow {
    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.image-shadow {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
