body{
  animation: fadein 2s;
  /*background: url("//images.unsplash.com/photo-1461010083959-8a5727311252?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1311&q=80");
  /*background: url("https://images.unsplash.com/photo-1507980062492-714282f31ee0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  /*background: url("https://images.unsplash.com/photo-1503919483171-9ffc1debc390?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  /*background: url("https://images.unsplash.com/photo-1604537466573-5e94508fd243?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80");
  background: url("https://images.unsplash.com/photo-1483664852095-d6cc6870702d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");*/
  /*background-attachment: fixed;
  background-size: cover;
  background-position: 50% 35%;*/
}
body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.about-me-bg {
  background-image: url("/assets/images/S1E3_3.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me-text {
  font-family: 'Raleway', sans-serif !important;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
}

.handwriting{
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  padding: 20px;
}


.white-pic{
  color: white !important;
  font-size: 1em !important;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.home-content {
  position: fixed;
bottom: 0px;
  left: -100px;
  color: #f1f1f1;
  width: 100%;
  padding: 30px;

}

.home-button {
  font-family: 'Pacifico', cursive;
  height: 150px;
  width: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: $dark-blue;
  margin-top: 200px;
  margin-left: -100px;
  color:white;
  border:none;
  font-size: 3em;
  border-radius: 5px;
  animation: appear 9s;
  &:hover {
      background-color: $darker-blue;
      transition: 2s;
  }
  & a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

@keyframes appear {
  0% {opacity: 0}
  80% {opacity: 0}
  100% {opacity: 1}
}