.navbar-logo{
  height: 100px;
  width: auto;
  transform: scale(2.5)
}
.nav-link {
  color: $light-brown !important;
  text-wrap: none;
  padding: 15px !important;
  &:hover{
    color: $dark-brown !important;
    border-bottom: 5px solid $dark-brown;
  }
}

.active a{
  color: $dark-brown !important;
  border-bottom: 5px solid $dark-brown;
}

@media (max-width: 1200px) {
  .navbar-logo {
    height: 70px;
    width: auto;
    transform: scale(2)
  }
  .navbar-nav{
    font-size: 18px !important;
  }
  .nav-link {
    padding: 10px !important;
  }
  }
