.season-navigation-items {
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  margin: 5px 0px;
  position: relative;
  left: -20px;
  &:hover{
    left: 0px;
    transition: 0.5s;
  }
}

.season-navigation{
  position: fixed;
  top: 30%;
  z-index: 1000;
}

.active-left {
  left: 0px;
}

.episode-container {
  background-color: white;
  width: 700px;
  padding: 20px;
}

.episode-title-text {
  text-decoration: underline;
  &:hover{
    color: $light-brown;
  }
}
@media (max-width: 1200px) {
  .season-navigation-large {
    display: none
  }

}

@media (min-width: 1199px) {
.season-navigation-small {
  display: none
}
}

@media (max-width: 735px) {
  .episode-container {
    width:400px;
  }
}

@media (max-width: 415px) {
  .episode-container {
    width:300px;
    flex-direction: column;
    align-items: center;
  }
}

.recipe-component-container{
  background-color: white;
  border-radius: 10px;
}

.create-season-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.create-season-form button {
  align-self: center;
}

.create-season-form input {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}