.self-photo {
  width: 200px;
  box-shadow: 1px 1px 3px 2px $dark-blue;
  margin: 10px;
}

.small-photo{
  width: 100px;
  border: 3px solid #f1f1f1;
  margin: 10px;
}

.medium-photo{
  width: 200px;
  border: 3px solid #f1f1f1;
  margin: 10px;
}

.meal-photo {
  width: 400px;
  border: 3px solid #f1f1f1;
  margin: 10px;
}

.fact-photo {
  max-width: 600px;
  max-height: 600px;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
}
.funfact-container{
  position: relative;
  font-family: 'Pacifico', cursive;
  & h1{
    padding: 40px;
  }
}

.random-button {
  position: absolute;
  right: 100px;
  top: 50px;
  background-color: $button;
  font-size: 0.5em;
  color: white;
  border-radius: 50%;
  padding: 20px;
  transform: rotate(20deg);
  text-decoration: none;
  animation: moving 1s infinite;

  &:hover{
    text-decoration: none;
    color:white;
    background-color: $darker-blue;
    transition: 2s infinite;
  }
}

@keyframes moving {
  0% {  transform: rotate(20deg)}
  20%{  transform: rotate(10deg)}
  40% {  transform: rotate(20deg)}
  60%{  transform: rotate(10deg)}
  80% {  transform: rotate(20deg)}
  80% {  transform: rotate(20deg)}


}