<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="Delicious breakfast recipes organized in seasons and episodes, sharing new one each week spiced with fun facts to learn about ingredients. Participate, save your own recipes and share the ones you prepared yourself">
        <meta name="keywords" content="breakfast,The Breakfast Show, Breakfast recipes, eat, start of the day">
        <meta name="author" content="Renata Aradi">
        <meta property="og:image" content="{{ asset('build/images/logo/crossed-knife-and-fork.png')  }}" />
        <link rel="icon" href="{{ asset('build/images/logo/crossed-knife-and-fork.png')  }}" />
        <title>{% block title %}The Breakfast Show{% endblock %}</title>
        {% block stylesheets %} {{ encore_entry_link_tags('app') }}{% endblock %}


    </head>
    <body>

    <div class="wrapper">
        {% block body %}{% endblock %}
        <div class="push"></div>
    </div>
    {% include 'home/component/_footer.html.twig' %}
        {% block javascripts %}   {{ encore_entry_script_tags('app') }}{% endblock %}

    </body>
</html>
