<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="{{ asset('build/images/logo/crossed-knife-and-fork.png')  }}" />
        <title>{% block title %}The Breakfast Show{% endblock %}</title>
        {% block stylesheets %} {{ encore_entry_link_tags('app') }}{% endblock %}


    </head>
    <body>

    <div class="wrapper">
        {% block body %}{% endblock %}
        <div class="push"></div>
    </div>
    {% include 'home/component/_footer.html.twig' %}
        {% block javascripts %}   {{ encore_entry_script_tags('app') }}{% endblock %}

    </body>
</html>
