{% extends 'base.html.twig' %}

{% block body %}
    {% include 'home/component/_nav.html.twig' %}

<div class="about-me-bg"></div>

<div class="login-text">
    <h1>2. Create ingredient list </h1>

    {{ include('list_ingredient/_form.html.twig') }}

    <a class="login-button m-3" href="{{ path('images_new') }}">Next</a>
</div>
{% endblock %}
