{% extends 'base.html.twig' %}

{% block body %}
    {% include 'home/component/_nav.html.twig' %}

<div class="about-me-bg"></div>

<div class="login-text">
    <h1>Create new ListIngredient</h1>

    {{ include('list_ingredient/_form.html.twig') }}

    <a href="{{ path('list_ingredient_index') }}">back to list</a>
</div>
{% endblock %}
