<footer class="footer use-shadow">
    <div class="handwriting small-text light-text">Follow me</div>
    <a href="https://www.instagram.com/the_breakfast_show/" target="_blank"><img class="insta-logo" src="{{ asset('build/images/logo/instagram.svg') }}" alt="instagram"></a>
    <a href="https://www.facebook.com/thebreakfastshow1" target="_blank" ><img class="fb-logo" src="{{ asset('build/images/logo/facebook.svg') }}" alt="facebook"></a>
</footer>