{% extends 'base.html.twig' %}

{% block body %}
    {% include 'home/component/_nav.html.twig' %}

<div class="about-me-bg"></div>

<div class="login-text">
    <h1>3. Add images </h1>

    {{ include('images/_form.html.twig') }}

</div>
{% endblock %}
